/* Common Style */
body{
    background-color: #e9e9f1;
}
.btn{
    background-color: #e6e4df8c;
    color: #1043fdd6;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid blue;
    padding: 10px;
}
.btn:hover{
    box-shadow: 0px 2px 10px rgba(0, 0, 255, 0.151);
}
/* header */
header .header-content{
    text-align: center;
    color: blueviolet;
}
header #search-field{
    width: 75%;
    margin: auto;
    padding: 20px;
    background-color: #e6e4df8c;
    display: flex;
    justify-content: space-evenly;
}
header #search-bar{
    display: block;
    width: 80%;
    padding: 10px ;
    border-radius: 5px;
    background-color: #e6e4df8c;
    color: #1043fdd6;
    font-size: 18px;
    border:1px solid blue;
}
header #search-bar::placeholder{
    font-size: 15px;
    color: #1043fdd6;
    font-weight: bold;
}
#search-bar:hover{
    box-shadow: 0px 2px 10px rgba(0, 0, 255, 0.151);
}
#search-bar:focus{
    border: 1px solid blue;
    outline: none;
}
header #search-btn{
    display: block;
    width: 15%;
    text-align: center;
    background-color: #e6e4df8c;
    color: #1043fdd6;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid blue;
}
#search-btn:hover{
    box-shadow: 0px 2px 10px rgba(0, 0, 255, 0.151);
}
/* Main */
.display-mobile{
    width: 75%;
    margin: auto;
    margin-top: 10px;
    background-color: #e6e4df8c;
    padding: 20px;
    margin-bottom: 10px;
}
#display-mobile{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.mobile-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 20px 10px;
}

.mobile-card:hover{
    transform: translateY(-20px);
    transition: transform 0.3s;
}
/* Error msg style */
.error{
    text-align: center;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.767);
    display: none;
}

/* Single Mobile Part */
#single-mobile{
    width: 75%;
    margin: auto;
    padding: 20px;
    margin-top: 5px;
}
.single-mobile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e6e4df8c;
    color: darkblue;
    animation: single 1s linear;
    position: relative;
}
.single-text{
    width: 45%;
}
.single-image{
    width: 45%;
}
/* Load more buttor */
#load-more-btn{
    display: none;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}
/* Spinner */
.loader{
    width: 120px;
    height: 120px;
    border: 10px solid red;
    border-top: 10px solid blue;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
}
/* Spinner Animation */
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* Single mobile showing animation */
@keyframes single{
    0%{  opacity: 0;
    }
    100%{
opacity: 1;
    }
}


